{% extends '_base.html' %}

{% block content %}

<div ng-app='myApp' ng-controller="mainCtrl">
  <div class='row' style='margin-top: 50px'>
    <div class='col-md-2 col-lg-4'>
      <img class='img' src='../img/trump.png'>
    </div>
    <div class='col-md-4 col-lg-8'>
      <span class='name'>#Trump</span>
      <canvas id="trump" class="chart chart-doughnut"
      chart-colours='colors' chart-legend="true"
      chart-data="trumpData" chart-labels="labels">
    </canvas>
  </div>
  <div class='col-md-2 col-lg-4'>
    <img class='img' src='../img/sanders.png'>
  </div>
  <div class='col-md-4 col-lg-8'>
    <span class='name'>#FeelTheBern</span>
    <canvas id="sanders" class="chart chart-doughnut"
    chart-colours='colors' chart-legend="true"
    chart-data="sandersData" chart-labels="labels">
  </canvas>
</div>
</div>
<br><br>
<div class='row'>
  <div class="col-md-12">
    {% raw %}
    <div class="tweet-zone">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 panelheader class="panel-title">
              <a href="https://twitter.com/{{user}}">{{user}}</a></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                    {{tweet}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endraw %}
  </div>

  {% endblock %}
