{% extends '_base.html' %}

{% block content %}
<div ng-app='myApp' ng-controller="mainCtrl">
  <div class='row top'>
    <div class='col-md-2'>
      <img class='img' src='../img/trump.png'>
    </div>
    <div class='col-md-4'>
      <span style='font-weight:bold'>#Trump</span>
      <canvas id="trump" class="chart chart-doughnut"
        chart-colours='colors' chart-legend="true"
        chart-data="sandersData" chart-labels="labels">
      </canvas>
    </div>
    <div class='col-md-2'>
      <img class='img' src='../img/sanders.png'>
    </div>
    <div class='col-md-4'>
      <span style='font-weight:bold'>#FeelTheBern</span>
      <canvas id="sanders" class="chart chart-doughnut"
        chart-colours='colors' chart-legend="true"
        chart-data="trumpData" chart-labels="labels">
      </canvas>
    </div>
  </div>

  <br><br><hr>

<div class='row'>
  <div class="col-md-12">
    {% raw %}
    <span style='font-size:50px'>{{user}}</span>
    <span style='font-size: 25px'>{{tweet}}</span>
    {% endraw %}
  </div>
</div>

{% endblock %}
