body {
 background-color: rgb(95, 165, 218);
}
#trump #sanders {
  float: right;
  width: 110% !important;
  height: 110% !important;
}

.name {
  font-weight:bold;
  font-size:30px;
  float: right;
}


.img {
  width: 150%;
  height: 150%;
  border-radius: 50%;
  border: 2px solid #fff;
}
